* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

main {
  padding: 20px;
  padding-top: 80px; /* Altura del navbar para que no tape el contenido */
}

section {
  margin-bottom: 60px;
}

h1, h2 {
  color: #333;
}

a {
  color: #0070f3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
